<div class="form-group">
  <input type="text" name="username" value="<%= vm['username'] %>" class="form-control input-lg" placeholder="请填写手机号码" id="mobile-input">
  <div id="mobile-input-error" class="error-tip" style="<%= errors['username'] ? '' : 'display: none;' %>">
    <i class="icon-cuowutishi"></i><%= errors['username'] || '' %>
  </div>
</div>
<div class="form-group">
  <input type="password" name="password" value="<%= vm['password'] %>" class="form-control input-lg" placeholder="密码" id="password-input">
  <div id="password-input-error" class="error-tip" style="<%= errors['password'] ? '' : 'display: none;' %>">
    <i class="icon-cuowutishi"></i><%= errors['password'] || '' %>
  </div>
</div>

<% if (errors.server) { %>
  <div id="server-error" class="error-tip">
    <%= errors['server'] %>
  </div>
<% } %>

<div class="form-group">
  <button type="submit" class="btn btn-primary-outline btn-block register-btn" id="mobile-register-btn">
    注册
  </button>
</div>
