<% script('/js/profile.js') -%>
<% stylesheet('/css/profile.css') -%>
<% title = '个人中心 | Wind教口语' %>

<div class="profile">
  <% include partials/topBanner %>
  <div class="container">
    <% if (errors.success) { %>
      <div class="alert alert-success">成功</div>
    <% } %>
    <form class="potential-form" id="potential-form" method="post">
      <div class="form-group">
        <div class="avatar" style="background-image: url('<%= vm["avatar"] %>')"></div>
      </div>
      <div class="form-group">
        <label>昵称</label>
        <input type="text" required name="nickname" value="<%= vm['nickname'] %>" class="form-control" placeholder="请填写姓名" id="nickname-input">
        <div id="nickname-input-error" class="error-tip" style="<%= errors['nickname'] ? '' : 'display: none;' %>">
          <i class="icon-cuowutishi"></i><%= errors['nickname'] || '' %>
        </div>
      </div>
      <div class="form-group">
        <label>手机</label>
        <input type="tel" name="username" value="<%= vm['username'] %>" class="form-control" placeholder="请填写手机号码" id="username-input">
        <div id="username-input-error" class="error-tip" style="<%= errors['username'] ? '' : 'display: none;' %>">
          <i class="icon-cuowutishi"></i><%= errors['username'] || '' %>
        </div>
      </div>
      <div class="form-group">
        <label>性别</label>
        <select name="sex" value="<%= vm['sex'] %>" class="form-control" placeholder="请填写性别" id="sex-input">
          <option value="">请选择</option>
          <option value="1"
            <% if (vm['sex']==1) { %>
              selected
            <% } %>
          >男</option>
          <option value="0"
            <% if (vm['sex']==0) { %>
              selected
            <% } %>
          >女</option>
        </select>
        <div id="sex-input-error" class="error-tip" style="<%= errors['sex'] ? '' : 'display: none;' %>">
          <i class="icon-cuowutishi"></i><%= errors['sex'] || '' %>
        </div>
      </div>
      <div class="form-group">
        <label>国家</label>
        <input type="text" name="country" value="<%= vm['country'] %>" class="form-control" placeholder="请填写国家" id="country-input">
        <div id="country-input-error" class="error-tip" style="<%= errors['country'] ? '' : 'display: none;' %>">
          <i class="icon-cuowutishi"></i><%= errors['country'] || '' %>
        </div>
      </div>

      <div class="form-group">
        <label>省份</label>
        <input type="text" name="province" value="<%= vm['province'] %>" class="form-control" placeholder="请填写省份" id="province-input">
        <div id="province-input-error" class="error-tip" style="<%= errors['province'] ? '' : 'display: none;' %>">
          <i class="icon-cuowutishi"></i><%= errors['province'] || '' %>
        </div>
      </div>

      <div class="form-group">
        <label>城市</label>
        <input type="text" name="city" value="<%= vm['city'] %>" class="form-control" placeholder="请填写城市" id="city-input">
        <div id="city-input-error" class="error-tip" style="<%= errors['city'] ? '' : 'display: none;' %>">
          <i class="icon-cuowutishi"></i><%= errors['city'] || '' %>
        </div>
      </div>


      <% if (errors.server) { %>
        <div id="server-error" class="error-tip">
          <%= errors['server'] %>
        </div>
      <% } %>

      <div class="form-group">
        <button type="submit" class="btn btn-primary-outline btn-block confirm-btn" id="confirm-btn">
          确认
        </button>
      </div>

      <div class="form-group">
        <button type="reset" class="btn btn-secondary btn-block">
          重置
        </button>
      </div>
    </form>
  </div>
  <div class="loading" style="display: none;">
  </div>
</div>
